<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.1.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<!--配置文件占位符 -->
	<import resource="classpath:env/property_configurer.xml" />

	<bean id="confPojo" class="com.ziran.gfw.ConfPojo">
		<property name="shadowPath" value="${shadowPath}" />
		<property name="guiConfig" value="${guiConfig}" />
		<property name="cronExpression" value="${cronExpression}" />
		<property name="startProcess" value="${startProcess}" />
		<property name="stopProcess" value="${stopProcess}" />
	</bean>
	<bean id="handleGFW" class="com.ziran.gfw.HandleGFW">
		<property name="confPojo" ref="confPojo" />
	</bean>
	<bean id="gfwJob" class="com.ziran.gfw.GFWJob">
		<property name="handleGFW" ref="handleGFW" />
	</bean>
	<!-- <bean id="gfwScheduler" class="com.ziran.gfw.GFWScheduler">
		<property name="confPojo" ref="confPojo" />
		<property name="handleGFW" ref="handleGFW" />
		<property name="gfwJob" ref="gfwJob" />
	</bean> -->

	<!-- 定时任务 begin -->
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="gfwJob" />
		<property name="targetMethod" value="execute" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="jobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="jobDetail" />
		<property name="cronExpression" value="${cronExpression}" />
	</bean>
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="jobTrigger" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
	</bean>
	<!-- 定时任务 end -->
</beans>

