<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.single.dao.PaymentCloseMapper" >
  
  <resultMap id="BaseResultMap" type="paymentClose" >
    <id column="close_id" property="closeId" jdbcType="INTEGER" />
    <result column="payment_id" property="paymentId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="close_code" property="closeCode" jdbcType="VARCHAR" />
    <result column="close_note" property="closeNote" jdbcType="VARCHAR" />
    <result column="close_time" property="closeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    close_id, payment_id, order_id, close_code, close_note, close_time
  </sql>
  
  <insert id="saveOne" parameterType="paymentClose" >
    insert into pay_payment_close
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paymentId != null" >
        payment_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="closeCode != null" >
        close_code,
      </if>
      <if test="closeNote != null" >
        close_note,
      </if>
      <if test="closeTime != null" >
        close_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paymentId != null" >
        #{paymentId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="closeCode != null" >
        #{closeCode,jdbcType=VARCHAR},
      </if>
      <if test="closeNote != null" >
        #{closeNote,jdbcType=VARCHAR},
      </if>
      <if test="closeTime != null" >
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
</mapper>