<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.pay.single.bean" />
	</typeAliases>
	<mappers>
		<!-- 支付 -->
		<mapper resource="notenv/mapper/PaymentStateMapper.xml" />
		<mapper resource="notenv/mapper/PaymentLogMapper.xml" />
		<mapper resource="notenv/mapper/PaymentMapper.xml" />
		<mapper resource="notenv/mapper/PaymentOrderMapper.xml" />
		<mapper resource="notenv/mapper/PaymentCloseMapper.xml" />
		<mapper resource="notenv/mapper/AliReturnMapper.xml" />
	</mappers>
</configuration>
