<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <!-- job -->
    <bean id="mobileCardJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="concurrent" value="false"/>
        <property name="targetObject" ref="mobileCardUtilTaskJob"/>
        <property name="targetMethod" value="fetchJihuoTime"/>
    </bean>

    <!-- 执行计划 -->
    <bean id="mobileCardCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="mobileCardJobDetail"/>
        <property name="cronExpression" value="0 0 0/2 * * ?"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="autoStartup" value="true"/>
        <property name="startupDelay" value="30"/>
        <property name="triggers">
            <list>
                <ref bean="mobileCardCronTrigger"/>
            </list>
        </property>
    </bean>

</beans>

