<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laowen.dao.WXFansMapper">

    <resultMap id="BaseResultMap" type="wxFans">
        <id column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="wx_id" jdbcType="VARCHAR" property="wxId"/>
        <result column="wx_ghid" jdbcType="VARCHAR" property="wxGhid"/>
        <result column="fans_state" jdbcType="INTEGER" property="fansState"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        open_id, wx_id, wx_ghid, fans_state, create_time, edit_time
    </sql>

    <!-- 通过原始id和openId查询 -->
    <select id="findByGhidAndOpenId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from wx_fans
        where wx_ghid = #{wxGhid,jdbcType=VARCHAR}
        and open_id = #{openId,jdbcType=VARCHAR}
    </select>

    <insert id="insertOne" parameterType="wxFans">
        insert into wx_fans
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openId != null">
                open_id,
            </if>
            <if test="wxId != null">
                wx_id,
            </if>
            <if test="wxGhid != null">
                wx_ghid,
            </if>
            <if test="fansState != null">
                fans_state,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="editTime != null">
                edit_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="wxId != null">
                #{wxId,jdbcType=VARCHAR},
            </if>
            <if test="wxGhid != null">
                #{wxGhid,jdbcType=VARCHAR},
            </if>
            <if test="fansState != null">
                #{fansState,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="editTime != null">
                #{editTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateStateById">
        update wx_fans
        <set>
            <if test="fansState != null">
                fans_state = #{fansState,jdbcType=INTEGER},
            </if>
            edit_time = now()
        </set>
        where open_id = #{openId,jdbcType=VARCHAR}
    </update>

</mapper>